<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>テキストマイニングツール</title>
</head>
    <body>
    <h1>テキストマイニングツール</h1>

    <div class="flash_message">
        {% for message in get_flashed_messages() %}
            <p style="background-color: lightblue;">
            <b>{{ message }}</b>
            </p>
        {% endfor %}
    </div>
    <a href="/upload">【テキストファイルをアップロード】</a>
    <br>
    <a href="/paste">【テキスト貼付で作成】</a>

    <table border="1">

        <tr align="center">
            <th>ID</th>
            <th>タイトル</th>
            <th>ファイルパス</th>
            <th>登録日</th>
            <th>ダウンロード</th>
            <th>削除</th>
        </tr>
        {% for i in registration_data %}
        <tr align="center">
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.file_path }}</td>
            <td>{{ i.data.strftime('%Y年%m月%d日') }}</td>
            <td>
                <form method="POST" action="">
                    <input type="submit" value="ダウンロード" name="download">
                </form>
            </td>
            <td>
                <form method="POST" action="">
                    <input type="submit" value="削除" name="delete">
                </form>
            </td>
        </tr>
        {% else %}
            <p>何も生成されていません</p>
        {% endfor %}
    </table>
    </body>
</html>