<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
</head>
    <body>

        <form method="POST" action="/paste_register">
            <p>タイトル</p>
            <input type="text" name="title" placeholder="タイトル" size="30">
            <br>
            <p>貼付データ：</p>
            <textarea name='paste_data' rows="20" cols="40"></textarea>
            <br>
            <p>
                <input type="submit" value="送信">&nbsp;
                <input type="reset" value="リセット">
            </p>
            <a href="/">TOPに戻る</a>
        </form>
    </body>
</html>