<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
</head>
    <body>

        <form method="POST" action="/upload_register" enctype="multipart/form-data">
            <p>タイトル</p>
            <input type="text" name="title" placeholder="タイトル" size="30">
            <br>
            <p>アップロードするファイル</p>
            <input type="file" name="file">
            <br>
            <p>
                <input type="submit" value="送信">&nbsp;
                <input type="reset" value="リセット">
            </p>
        </form>
    </body>
</html>